.product {
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.product__image {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.product__body {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
}

.product__title,
.product__price {
    letter-spacing: 1px;
}

.product__footer
 {
     display: flex;
     justify-content: center;
}